<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />
    <link href="{{ url_for('static', filename='about_style.css') }}"  rel="stylesheet" />
    <title>О проекте</title>
</head>
<body>
    <ul class="menu-main">
      <li><a href="{{ url_for('map_page') }}">Интерактивная карта</a></li>
      <li><a href="{{ url_for('basic_page') }}">Главная страница</a></li>
    </ul>
    <div class="about_class">
	<h1> Основная информация </h1>
	<p><br></p>
	<p>Обеспеченность районов различной социальной инфраструктурой является важным показателем качества жизни в городе.</p>
	<p><br></p>
	<p>Наш проект направлен на то, чтобы в доступной форме показать обеспеченность районов социальной инфраструктурой. Анализируются школы, детские сады и медицинские учреждения и жилые дома.
	Существует возможность выбора любого района или округа Москвы. Выбранные территории будут сравнены по количество социальных объектов выбранной категории в результаты будут представлены в цветом виде.
	Каждый район в отдельности разбивается на территории поменьше, путем наложения гексагональной сетки. Для каждой ячейки считается количество объектов социальной инфраструктуры или количества жителей и  ячейки раскрашиваются в цвета, что дает наглядной представление о количественной обеспеченности.
	Значимым элементов анализы является анализе пешей доступности, которые для Москвы определяется буферами доступности: от каждого объекта откладывается круг определенного радиуса и анализируются все объекты, которые в него попали.</p>
	<p><br></p>
	<p>На интерактивной карте можно увидеть 4 типа объектов по отдельности.
	Для жилых домов указано рассчитанное количество детей и взрослых, которые в нем проживают, указан год постройки(в зависимости от года постройки, дом так же помечается цветом), количество детских садов и медицинских учреждений, а также школ, которые попадают в радиус пешей доступности. Также указано наличие свободных школ в радиусе пешей доступности.
	Для школ указана номинальная вместимость учеников и фактическое количество, загруженность школы(так же школа раскаршивается в разные цвета, в зависимости от загрузки, что позволяет проще воспринимать данные) и рейтинг. Для школ можно построить радиус пешей доступности, которые покажет все жилые дома в данном радиусе и количество детей школьного возраста, которые на этой территории проживают.
	Для детских садов указана номинальная вместимость и рейтинг, а так же то, к какой школе они относятся. По аналогии со школой можно построить радиус пешей доступности.
	Для медицинских учреждений можно построить радиус пеше-транспортной доступности.
	Данные для каждого объекта можно редактировать, что позволяет моделировть снос старого дома и постройку на его месте нового по программе реновации, или же укрупнение школы.</p>
	<p><br></p>
	<p>Помимо интерактивной карты для выбранных районов можно посмотреть статистику, где будет указана площадь района, количество жителей и объектов социальной инфраструктуры, приведены количественные показатели обеспеченности пешей достпуности для разных типов объектов и соответсвие нормативынм показателям обеспеченности района местами в школах и детских садах</p>
	<p><br></p>    
    </div>
    <div class="color_values">
	<h1>Цветовые обозначения</h1>
	<p><br></p>
	<p>Помимо цветом, использующихся для обозначения количество объектов в различных районах и внутри одного района, свой цвет имеют также школы и жилызе зданий.</p>
	<h3>Цвет школы определяется следующим образом:</h3>
	<p><br></p>
	<div class="green_picture"></div>
	<label>Зеленым цветом обозначаются школы, которые имеют свободные места</label>
	<p><br></p>
	<div class="yellow_picture"></div>
	<label>Желтым цветом обозначаются школы, которые имеют перегруз на 1-100%</label>
	<p><br></p>
	<div class="red_picture"></div>
	<label>Красным цветом обозначаются школы, которые имеют перегруз более 100%</label>
	<p><br></p>
	<h3>Цвет дома зависитот года постройки, используютсяследующие обозначения:</h3>
	<p><br></p>
	<div class="green_picture"></div>
	<label>Зеленым цветом обозначаются дома, построенные после 2000 года</label>
	<p><br></p>
	<div class="yellow_picture"></div>
	<label>Желтым цветом обозначаются дома, простроенные с 1980 по 2000 года</label>
	<p><br></p>
	<div class="orange_picture"></div>
	<label>Оранжевым цветом обозначаются дома, простроенные с 1960 по 1980 года</label>
	<p><br></p>
	<div class="red_picture"></div>
	<label>Красным цветом обозначаются дома, пострроенные до 1960 года</label>
	<p><br></p>
	<div class="blue_picture"></div>
	<label>Синим цветом обозначаются дома, для которых нет данных о годе постройки</label>
	<p><br></p>
    </div>
    <div class="distance_values">
	<h1>Радиус пешей доступности</h1>
	<p><br></p>	
	<p>Важным параметром обеспеченности является пешая доступность. Для школ, детских садов и медицинских учреждений установлены свои радусы доступности в зависимости от района. В соответсвии с нормами градостроительного проектирования города Москвы в области образования, для образовательных учреждений установлены следующие нормы:</p>
	<p><br></p>	
	<p>Для школ, находящихся на территории центрального администиративного округа -- 750м, для школ находящихся на территории других округов -- 500м.</p>
	<p>Для детских садов, находящихся на территории центрального администиративного округа -- 500м, для детских садов находящихся на территории других округов -- 300м</p>
	<p><br></p>	
	<p>Доступность медциниских учреждений регулируется нормативами градостроительного проектирования города Москвы в области здравоохранения. В соответсвии с радиус доступности для всех округов установлен в 1500м.</p>
	<p><br></p>
    </div>
    <div class="index_values">
	<h1>Количество мест в учебных заведениях на район</h1>
	<p><br></p>
	<p>В тех женормативах так же указано, какое должно быть количество мест в школах и детских садах должно быть (количество мест на 1000 человек населения). Все районы делятся на 3 зоны, для каждой из которых устанавливаются свои значения.<p>
	<p><br></p>	
	<p>К первой зоне относятся следующие районы города Москвы: Академический, Алексеевский, Арбат, Аэропорт, Басманный, Беговой, Гагаринский, Донской, Дорогомилово, Замоскворечье, Коньково, Красносельский, Крылатское, Ломоносовский, Марьина Роща, Мещанский, Нижегородский, Обручевский, Останкинский, Преображенское, Пресненский, Проспект Вернадского, Раменки, Ростокино, Савеловский, Сокол, Сокольники, Таганский, Тверской, Тропарево-Никулино, Филевский парк, Хамовники, Хорошево-Мневники, Хорошевский, Черемушки, Якиманка.</p>
	<p><br></p>	
	<p>Ко второй зоне относятся следующие районы города Москвы: Бабушкинский, Богородское, Бутырский, Войковский, Восточное Измайлово, Головинский, Гольяново, Даниловский, Зюзино, Ивановское, Измайлово, Коптево, Котловка, Кузьминки, Кунцево, Куркино, Левобережный, Лефортово, Лосиноостровский, Марфино, Марьино, Метрогородок, Митино, Можайский, Молжаниновский, Москворечье-Сабурово, Нагатино-Садовники, Нагатинский Затон, Нагорный, Новогиреево, Орехово-Борисово Северное, Орехово-Борисово Южное, Отрадное, Очаково-Матвеевское, Перово, Покровское-Стрешнево, Свиблово, Северное Измайлово, Северное Медведково, Северное Тушино, Соколиная Гора, Строгино, Текстильщики, Тимирязевский, Фили-Давыдково, Ховрино, Царицыно, Чертаново Северное, Чертаново Центральное, Чертаново Южное, Щукино, Южное Медведково, Южное Тушино, Южнопортовый, Ярославский, Ясенево.</p>
	<p><br></p>	
	<p>К третей зоне относятся следующие районы города Москвы: Алтуфьевский, Бескудниковский, Бибирево, Бирюлево, Вешняки, Внуково, Восточное Братеево, Восточное Дегунино, Восточный, Выхино-Жулебино, Дмитровский, Западное Бирюлево, Западное Дегунино, Зябликово, Капотня, Косино-Ухтомский, Крюково, Лианозово, Люблино, Матушкино, Некрасовка, Новокосино, Ново- Переделкино, Печатники, Рязанский, Савелки, Северное Бутово, Северный, Силино, Солнцево, Старое Крюково, Теплый Стан, Южное Бутово, а также все поселения, расположенные в Новомосковском и Троицком административных округах города Москвы</p>
	<p><br></p>
	<p>Количественные показатели для этих зон следующие</p>
	<table>
  		<tr>
    			<td>Зона</td>
			<td>Количество мест в детских садах(на 1000 человек)</td>
			<td>Количество мест в школах(на 1000 человек)</td>
  		</tr>
  		<tr>
    			<td>Зона 1</td>
			<td>46</td>
			<td>105</td>
  		</tr>
  		<tr>
    			<td>Зона 2</td>
			<td>55</td>
			<td>112</td>
  		</tr>
  		<tr>
    			<td>Зона 2</td>
			<td>63</td>
			<td>124</td>
  		</tr>
	</table>
	<p><br></p>
	<p>По специальной формуле рассчитывается показатель минимально допустимого уровня обеспеченности населения школами. Для этого используется формула P = N * Q + D, где N -- количество жителей(в тыс.человек) района, Q -- это нормативное количество мест в школах на тысячу человек для этого района, D -- дефицит мест в школах. По этой же формуле рассчитывается практический уровня обеспеченности населения школами, где в Q подставляется значение фактического количества мест в школах.</p>
    </div>
</body>
</html>