<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Archive&display=swap" rel="stylesheet" />
	<link href="{{ url_for('static', filename='main.css') }}"  rel="stylesheet" />
	<title>Главная страница</title>
</head>
<body>
	<div class="v1_49"></div>
	<div class="v1_50"></div>
	<span class="v1_51">		
		<ul class="menu-main">
          		<li><a href="{{ url_for('about') }}">О проекте</a></li>
        	</ul> </span>
	<span class="v1_52">
		<ul class="menu-main">
          		<li><a href="{{ url_for('map_page') }}">Интерактивная<br>карта</a></li>
        	</ul> 
	</span>
	<span class="v1_54">Сервис анализа городской социальной инфраструктуры</span>
	<span class="v1_58">Cтатистика по районам</span>
	<div class="v1_59"></div>
	<div class="v1_63">
	</div>
	<div class="v1_68">
	</div>
	<span class="v1_75">Общая информация<br><br><br>Показатели, учитывающиеся при анализе обеспеченности районов</span>
	<span class="v1_175">Возможность анализа социальной инфраструктуры в Москве: школ, детских садов, мидицинских учреждений и жилых зданий<br>Возможность просмотра значимой информации для каждого объекта</span>
	<span class="v1_76">общая информация цветовые обозначения применяемые методы сылки на нормативы </span>
	<div class="v1_77"></div>
	<div class="name"></div>
	<div class="v1_79">
	</div>
	<span class="v1_85">Интерактивная карта</span>
	<div class="name"></div>
	<div class="name"></div>
	<div class="name"></div>
	<div class="name"></div>
	<div class="horizontal_line"></div>
	<div class="vertical_line1"></div>
	<span class="v1_90">Команда разработки<br><br>Геворков Иван<br>Осипов Александр</span>
	<div class="vertical_line2"></div>
	<span class="v1_91">Контакты<br><br>project_soc@miem.hse.ru<br>+7 (999) 888-77-66</span>
	<div class="vertical_line3"></div>
	<span class="v1_92">Руководитель<br><br>Прокофьева Е.Н</span>
	<div class="vertical_line4"></div>
	<div class="vertical_line5"></div>
</body>
</html>